
.container {
  top: 0;
  height: 10%;
  z-index: 1;
  display: flex;
  position: fixed;
  left: 0;
  right: 0;
  padding: 14px 21px;
  align-items: center;
  background: #1b1b1b4d;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-bottom: 1px none;
  transition: background 0.3s ease-in-out;
}

.container img {
  width: 50px;
  transition: transform 0.3s ease-in-out;
}

.container img:hover {
  transform: scale(1.25);
  cursor: pointer;
}

.container ul {
  margin: 0;
  width: 100%;
  display: flex;
  list-style: none;
  font-weight: bold;
  align-items: center;
  justify-content: flex-end;
}

.container li {
  margin-left: 35px;
  text-align: right;
  font-size: 16px;
  cursor: pointer;
  transition: color 0.3s ease-in-out;
  
}

.container li:hover {
  color: #1ed760;
}

a {
  color: #e3e3e3;
  font-weight: 700;
}

@media only screen and (max-width: 768px) {
  .container {
    padding: 10px 15px;
  }
  .container ul {
    padding-left: 0px;
  }
  .container li {
    font-size: 14px;
  }
}

@media only screen and (max-width: 414px) {
  .container {
    height: 70px;
  }
  .container ul {
    padding-left: 0px;
  }
  .container li {
    font-size: 14px;
  }
}