body {
  background-color: #121212;
}

/* Full Page Centering */
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 29px;
  height: 70vh;
  width: 100vh;
  background-image: url('../../assets/landing-picture.jpg');
  
}

.videoBackground {
  position: absolute;
  margin: 25px;
  border-radius: 25px;
  height: 100%;
  width:  30%;
  z-index: -1;
}

/* Two-Column Profile Box */
.profileBox {
  display: flex;
  flex-direction: row;
  width: auto;
  height: auto;
  border-radius: 29px;
  overflow: hidden;
  box-shadow: 0px 10px 30px #00000080;
  background: #1b1b1b4d;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  align-items: center;
  justify-content: center;
}

/* Title Box */
.profileBox h2 {
  
  font-size: 2rem;
  color: #d3d3d3;
  text-align: center;
  padding: 10px 15px;
  border-radius: 10px;
}

/* Left-side Branding/Visual */
.visual {
  width: auto;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #1b1b1b4d;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}

.brand {
  font-size: 2rem;
  font-weight: bold;
  color: #21e065;
  text-shadow: 0px 05px 40px #1ED760;
  margin: 20px;
}

/* Right-side Profile Form */
.formWrapper {
  width: 100%;
  max-width: 450px;
  display: flex;

  flex-direction: column;
  align-items: center;
  padding-bottom: 30px;
  gap: 10px;
}

.formWrapper h2 {
  font-size: 1.5rem; 
  margin-bottom: 10px; 
}

/* Labels */
label {
  text-align: start;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.1rem;
  font-weight: 600;
  margin-bottom: -10px;
}

/* Inputs */
input {
  height: 16px;
  padding: 12px;
  border: none;
  border-radius: 13px;
  box-shadow: inset 0px 0px 30px #38383880;
  font-size: 1rem;
  font-weight: 600;
  box-shadow: 05px 08px 25px #111111;
}

input:focus {
  outline: 2px none #dbdbdb;
  box-shadow: 0px 0px 13px #dbdbdb;
}

/* Button */
.createButton {
  width: 100%;
}

button {
  width: 100%;
  padding: 12px;
  box-shadow: 05px 08px 25px #111111;
  border: none;
  border-radius: 26px;
  background: #baffba;
  color: #121212;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
  
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: center;
  align-content: center;
  gap: 15px;

}

button:hover {
  background: #21e065;
  box-shadow: 0px 05px 20px #1ED760;
  color: #d5d5d5;
}

.buttonTwitch {
  background: #d1baff;
}
.buttonTwitch:hover {
  background: #8354d9;
  box-shadow: 0px 00px 50px #5900ff;
  color: #d5d5d5;
}

.divider {
  display: flex;
  align-items: center;
  margin: 20px 0;
  width: 100%;
  height: 2px;
  background-color: black;

}

/* Message Box */
.successMessage {
  color: #3bc366;
  font-size: 1rem;
  font-weight: 600;
  margin-bottom: 15px;
  animation: glowBlink 1s infinite alternate;
}

.errorMessage {
  color: #c33b3b;
  font-size: 1rem;
  font-weight: 600;
  margin-bottom: 15px;
  animation: glowBlinkError 1s infinite alternate;
}

.imagePreview {
  margin-top: 15px;
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 50%;
  border: 2px none #040404;
  box-shadow: 05px 08px 25px #111111;
}


.emailUpload {
  display: flex;
  flex-direction: column; 
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  gap: 15px; 
  display: flex;
  flex-direction: row;
}

.emailUpload input[type="email"] {
  flex-grow: 1;
  width: 100%;
  
}

.fileUpload {
  background: #383838;
  color: white;
  font-weight: bold;
  padding: 10px 15px;
  border-radius: 8px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  text-align: center;
  width: auto;
  min-width: 40px;
  height: auto;
  margin-bottom: auto;
  box-shadow: 05px 08px 25px #111111;
}

.fileUpload:hover {
  background: #21e065;
  box-shadow: 0px 5px 20px #1ED760;
  color: #121212;
}

.hiddenFileInput {
  display: none; /* Hide the default file input */
}
