body {
  background-color: #121212;
}

/* Full Page Centering */
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 29px;
  height: 70vh;
  width: 100vh;
  background-color: #d5d5d5;
  background-image: url('../../assets/landing-picture.jpg');
}

.videoBackground {
  position: absolute;
  margin: 25px;
  border-radius: 25px;
  height: 100%;
  width:  30%;
  z-index: -1;
}

/* Two-Column Profile Box */
.profileBox {
  display: flex;
  flex-direction: column;
  width: 400px;
  height: auto;
  border-radius: 29px;
  overflow: hidden;
  box-shadow: 0px 10px 30px #00000080;
  background: #222;
  padding: 20px;
  align-items: center;
  justify-content: center;
}

/* Title Box */
.profileBox h2 {
  font-size: 2rem;
  color: #d3d3d3;
  text-align: center;
  padding: 10px 15px;
  border-radius: 10px;
}

/* Left-side Branding/Visual */
.visual {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.brand {
  font-size: 2.3rem;
  font-weight: bold;
  color: #21e065;
  text-shadow: 0px 05px 40px #1ED760;
  margin: 20px;
}

/* Right-side Profile Form */
.formWrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px;
  gap: 15px; /* Ensures spacing between buttons and inputs */
}

.formWrapper h2 {
  font-size: 2rem;
  color: #d3d3d3;
  margin-bottom: 20px;
  text-align: center;
}

/* Labels */
label {
  width: 100%;
  color: #d5d5d5;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.1rem;
  font-weight: 600;
  margin-bottom: 5px;
}

/* Inputs */
input {
  height: 16px;
  width: 100%;
  max-width: 350px;
  padding: 12px;
  border: none;
  border-radius: 13px;
  background: #cfcfcf;
  box-shadow: inset 0px 0px 30px #38383880;
  font-size: 1rem;
  color: #303030;
  font-weight: 600;
}

input:focus {
  outline: 2px none #dbdbdb;
  box-shadow: 0px 0px 13px #dbdbdb;
}

/* Button */
.createButton {
  width: 100%;
}

button {
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 26px;
  background: #baffba;
  color: #121212;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

form {
  width: 100%;
  align-content: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px; /* Ensures buttons fit properly */
}

button:hover {
  background: #21e065;
  box-shadow: 0px 05px 20px #1ED760;
  color: #d5d5d5;
}

.buttonTwitch {
  background: #d1baff;
}
.buttonTwitch:hover {
  background: #6441A4;
  box-shadow: 0px 00px 50px #5900ff;
  color: #d5d5d5;
}

.divider {
  display: flex;
  align-items: center;
  margin: 20px 0;
  width: 100%;
  height: 2px;
  background-color: black;
}

/* Message Box */
.successMessage {
  color: #3bc366;
  font-size: 1rem;
  font-weight: 600;
  margin-bottom: 15px;
  animation: glowBlink 1s infinite alternate;
}

.errorMessage {
  color: #c33b3b;
  font-size: 1rem;
  font-weight: 600;
  margin-bottom: 15px;
  animation: glowBlinkError 1s infinite alternate;
}
